/* custom loading animations */

/* Keyframes for Moon Animation */
.loading-moon-left {
  animation-name: loading-moon-left;
  left: -30%;
}
.loading-moon-right {
  animation-name: loading-moon-right;
  right: -30%;
}

.loading-moon-left,
.loading-moon-right {
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes loading-moon-right {
  50% {
    right: -40%;
  }
  100% {
    right: -30%;
  }
}

@keyframes loading-moon-left {
  50% {
    left: -40%;
  }
  100% {
    left: -30%;
  }
}

/* END---------------- */

/* welcome */
.animate-type {
  width: 0;
  overflow: hidden;
  border-left: 1px solid white;
  animation: typing 5s steps(70, end) both;
  white-space: nowrap;
}

.deplay-5s {
  animation-delay: 5s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border-left: 0;
  }
}

/* remove element animation */
.animation-remove {
  animation-name: removeElement;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes removeElement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/* add btn animation */
.animation-add-btn {
  animation-name: addBTN;
  animation-duration: 1500ms;
  animation-fill-mode: both;
}
@keyframes addBTN {
  from {
    scale: 0.8;
  }
  to {
    scale: 1;
  }
}

/* btn animation */
.animation-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0f172a;
  transform: translateX(100%);
  z-index: -1;
  transition: 150ms;
}
.animation-btn:hover:after,
.animation-btn:active:after {
  transform: translateX(0);
}
