/* custom loading animations */

/* Keyframes for Moon Animation */
.loading-moon-left {
  animation-name: loading-moon-left;
  left: -30%;
}
.loading-moon-right {
  animation-name: loading-moon-right;
  right: -30%;
}

.loading-moon {
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes loading-moon-right {
  50% {
    right: -40%;
  }
  100% {
    right: -30%;
  }
}

@keyframes loading-moon-left {
  50% {
    left: -40%;
  }
  100% {
    left: -30%;
  }
}

/* END---------------- */
