/* General Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #000;
}

/* font faces */
@font-face {
  font-family: "Vazir-Thin";
  src: url("fonts/Vazir-Thin.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("fonts/Vazir-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("fonts/Vazir-Medium.ttf");
  font-style: normal;
}

.container {
  width: 100vw;
  min-height: 100vh;
}
