/* General Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #000000;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#taskList::-webkit-scrollbar {
  display: none !important;
}

h2 {
  line-height: 40px !important;
}
/* font faces */
@font-face {
  font-family: "Vazir-Thin";
  src: url("/task-management/fonts/Vazir-Thin.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("/task-management/fonts/Vazir-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("/task-management/fonts/Vazir-Medium.ttf");
  font-style: normal;
}

.container {
  width: 100vw;
  min-height: 100dvh;
}

/* star */
.star {
  width: 2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgb(145, 195, 236);
}

/* gradiant */
.modal-gr {
  background: rgb(2, 0, 36);
  background: -moz-radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 38%,
    rgba(0, 0, 0, 1) 91%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 38%,
    rgba(0, 0, 0, 1) 91%
  );
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 38%,
    rgba(0, 0, 0, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
}

.add-task-bg {
  background: rgb(2, 0, 36);
  background: -moz-radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 17%,
    rgba(0, 0, 0, 1) 91%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 17%,
    rgba(0, 0, 0, 1) 91%
  );
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 17%,
    rgba(0, 0, 0, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000000",GradientType=1);
}

/* task setting */
.task-setting:focus .tast-setting-box {
  display: flex !important;
}

/* task date */
.task-date-btn:focus .date-box {
  display: flex !important;
}
